<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>dwolla</name>
            <displayName><![CDATA[Dwolla]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Start accepting dwolla. It cheap and is a very good google checkout alternative.]]></description>
            <author><![CDATA[Michael Stripling]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Are you sure you want to uninstall?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>